*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media(min-width:320px){
    .fb-text {
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
    }

    #form-sec {
        height: 360px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        text-align: center;
        margin-top: 70px;
    }

    .create-page {
        border-top: none;
        color: #1c1e21;
        font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding-top: 0;
        margin-top: 28px;
        text-align: center;
    }    
}

@media(min-width:620px){
    .fb-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .fb-text {
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
        width: 500px;
    }

    .create-page {
        border-top: none;
        color: #1c1e21;
        font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding-top: 0;
        margin-top: 28px;
        text-align: center;
    }
}

@media(min-width:1000px){
    .fb-row{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .fb-text{
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
        width: 500px;
    }

    #form-sec{
        width: 400px;
        height: 360px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        text-align: center;
        margin-top: 70px;
    }

    .create-page{
        border-top: none;
        color: #1c1e21;
        font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding-top: 0;
        margin-top: 28px;
        text-align: center;
    }  
    
}

section{
    padding: 85px 0;
}

.container{
    width: 90%;
    margin: auto;
}

.fb-img{
    margin: -40px;
    height: 170px;
}

.fb-col2{
    width: auto;
}


input[type="text"],
  input[type="password"] {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #1877f2;
    color: white;
    padding: 10px 130px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .fgot-pass{
    margin-top: 15px;
  }

  .fgot-pass a{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

.form-line{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.form-create  .submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.form-create input[type="submit"]:hover {
    background-color: #45a049;
  }


.create-page a{
    font-size: 14px;
    font-weight: 600;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.error {
    color: red;
}

.success {
    color: green;
}

  